.wrapper_page-coming {
  min-height: 100vh;
  overflow: hidden;
  background: url('../../img/bg/bg_1.png') center center no-repeat;
  background-size: cover;
}

#getting-started {
  line-height: 21px;
}

.counter {

  &_wrap {
    margin-bottom: 140px;
    display: flex;
    justify-content: center;

    @include for-phone-only {
      margin-bottom: 80px;
    }
  }

  &_ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  &_li {
    display: inline-block;
    font-size: 1.7em;
    font-weight: bold;
    padding: 18px 10px;
    text-align: center;
    box-sizing: border-box;
    background: #ffffff;
    border-right: 1px solid #ccc;
    margin: 0;

    @include for-phone-only {
      font-size: 1.5em;
      padding: 5px;
      border-right: 0px solid #ccc;
      border-bottom: 1px solid #ccc;

      &_mobile {
        display: none;
      }
    }

    &:last-child {
      border-right: 0px;
    }
  }

  &_count,
  &_sub {
    text-align: center;
    display: inline-block;
  }

  &_sub {
    font-size: 12px;
    text-transform: uppercase;

    @include for-phone-only {
      font-size: 10px;
    }
  }
}

// title
.title {
  &_h1 {
    font-size: 64px;
    color: #ffe3e3;
    padding-bottom: 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;

    @include for-phone-only {
      font-size: 2em;
    }
  }

  &_h1,
  &_h3 {
    margin: 0;
  }

  &_h3 {
    color: #ffffff;
    font-size: 32px;
    padding-bottom: 130px;

    @include for-phone-only {
      font-size: 1.3em;
      padding-bottom: 80px;
      line-height: 2;
    }
  }
}

// feedback
.feedback {
  &_form {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 35px 25px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 2px;

    @include for-phone-only {
      padding: 20px;
    }

    .col-auto,
    .bg_1,
    .bg_2,
    .bg_3,
    .bg_4,
    .bg_5,
    .bg_6,
    .bg_7,
    .bg_8 {
      @include for-phone-only {
        width: 100%;
      }
    }
  }
}

//footer
.footer {
  color: #ffffff;
  margin-bottom: 15px;

  @include for-phone-only {
    font-size: 12px;
  }
}

.counter_li {
  color: $text;
}


.green {
  color: $green;
}

.bg_1,
.bg_2,
.bg_3,
.bg_4,
.bg_5,
.bg_6,
.bg_7,
.bg_8 {
  background: $green;
  color: #fff;
  outline: none;
}

.bg_2 {
  background: #449e32;
}
.bg_3 {  
  background: #552277;
}
.bg_4 { 
  background: #f97202;
}
.bg_5 { 
  background: #005be9;
}
.bg_6 { 
  background: #731553;
}
.bg_7 { 
  background: #710632;
}
.bg_8 { 
  background: #d31b59;
}